<div class="card-blog">
  {{ if .Params.thumbnail }}
  <a class="card-blog-img" href="{{ .RelPermalink }}">
    <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" loading="lazy" />
  </a>
  {{ end }}
  <div class="card-blog-body">
    <h4 class="card-blog-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
    <p class="card-blog-meta">
      <span class="meta-date">{{ partial "date-pt.html" .Date }}</span>
      <span class="meta-sep">|</span>
      <span class="meta-comments">0 Comentários</span>
    </p>
    <div class="card-blog-excerpt">
      {{ .Summary }}
    </div>
  </div>
</div>
