{{ define "main" }}
{{ $posts := where .Site.RegularPages "Section" "posts" }}

<article class="content-article">
  {{ with index $posts 0 }}
    {{ partial "card-post.html" . }}
  {{ end }}
  <hr class="post-border">
  {{ partial "carousel.html" (dict "id" "1" "posts" (first 3 (after 1 $posts))) }}
  <hr class="post-border">
  {{ partial "carousel.html" (dict "id" "2" "posts" (first 3 (after 4 $posts))) }}
</article>

<aside class="sidebar">
  {{ range $i, $p := first 3 $posts }}
    {{ if $i }}<hr class="post-border">{{ end }}
    {{ partial "card-blog.html" $p }}
  {{ end }}
</aside>
{{ end }}
